.navbar{
    height : 7vh;
}

.container-form-blog{
    height  : 93vh;
}
.container-form{
    width: 450px;
}
.btn-orange-nav{
    border: 1px solid black;
}
.btn-orange{
    border: 1px solid black;
    
}
.text-orange{
    color: orangered !important;
}